button {
	box-sizing: border-box;
	text-align: center;
	height: 24%;
	width: 15.5vmin;
	border-radius: 1vmin;
	float: left;
	font: inherit;
	color: inherit;
	border-width: 0.3vmin;
	margin: 0.25vmin;
}
button:hover {
	filter: brightness(125%);
}

.number {
	background-color: #646668;
}

.operator {
	background-color: #30A5B4;
}

.unit {
	background-color: #9366D0;
}

.del, .ac {
	background-color: #A8A04D;
}
