.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Calculator {
	height: 50vmin;
	width: 50vmin;
}

.Display {
	width: 100%;
	background-color: rgba(64,66,68,.8);
	border-radius: 1vmin;
	text-align: right;
	font-size: 4vmin;
	padding: 2vmin;
	box-sizing: border-box;
}

table {
	height: 100%;
	width: 100%;
}

td {
	text-align: center;
	height: 10%;
	width: 20%;
	border-radius: 1vmin;
}
td:hover {
	filter: brightness(125%);
}

.Number {
	background-color: #646668;
}

.Operator {
	background-color: #30A5B4;
}

.Unit {
	background-color: #9366D0;
}

.AC {
	background-color: #A8A04D;
}
